<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ahkApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand glyphicon glyphicon-home" href="/"></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

<!--             <ul class="nav navbar-nav">
              <li class="active"><a href="/">Отвън</a></li>
              <li><a ng-href="views/1">Преди</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Централна зала <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="/">Централна зала</a></li>
                  <li><a ng-href="/">Централна зала</a></li>
                  <li><a ng-href="/">Какво има в музея?</a></li>
                  <li role="separator" class="divider"></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Зала "Трезор"<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="/">Начало</a></li>
                  <li><a ng-href="/">Луковитско съкровище</a></li>
                  <li><a ng-href="/">Вълчидрънско съкровище</a></li>
                  <li role="separator" class="divider"></li>
                </ul>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>

    <div class="container">
        <div ng-view=""></div>
    </div>
    <div class="container">        
        <nav ng-controller="PagerCtrl as pager">
            <ul class="pager">
                <li class="previous">
                    <a ng-click="pager.movePage('back')" ng-hide="pager.back"><span aria-hidden="true">&larr;</span> {{pager.page.label_prev}}</a>
                </li>
                <li class="next">
                    <a ng-click="pager.movePage('next')" ng-hide="pager.next">{{pager.page.label_next}} <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span></p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--      <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/appman.js"></script>
        <script src="scripts/controllers/pager.js"></script>
        <!-- endbuild -->
</body>
</html>
