<div class="container" ng-swipe-left="pager.movePage('next')" ng-swipe-right="pager.movePage('back')">
    <nav ng-controller="PagerCtrl as pager">
        <ul class="pager" ng-show="pager.isItShowing">
            <li class="previous">
                <a ng-click="pager.movePage('back')" ng-hide="pager.back" href="javascript: ;"><span aria-hidden="true">&larr;</span> {{pager.page.labelPrev}}</a>
            </li>
            <li class="next">
                <a ng-click="pager.movePage('next')" ng-hide="pager.next" href="javascript: ;">{{pager.page.labelNext}} <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
</div>

