<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <p>Къде ли се намира "Именника на българските ханове"?</p>
        <form class="form-horizontal">
            <div class="form-group">        
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Отговор едо
                    </label>
                    </div>
                    <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Отговор две
                    </label>
                    </div>
                    <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    Отговор три
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <img class="img-responsive center-block" src="../images/imennik-bg-hanove.jpg" alt="Именника на българските ханове">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
          <h4 class="text-center"><small>"Именника на българските ханове".</small></h4>
    </div>
</div>