<div class="row">
	<div class="col-xs-12 col-md-12">
		<h2>В музея ще откриеш ценни предмети от:</h2>
		<ul class="list-group">
			<li class="list-group-item list-group-item-success">Праистория</li>
			<li class="list-group-item list-group-item-info">Тракийска археология</li>
			<li class="list-group-item list-group-item-warning">Антична археология</li>
			<li class="list-group-item list-group-item-danger">Средновековна археология</li>
			<li class="list-group-item list-group-item-success">Нумизматика, епиграфика</li>
		</ul>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12 col-md-6">
		<img class="thumbnail" src="../images/monet1.jpg" alt="">
	</div>
	<div class="col-xs-12 col-md-6">
		<img class="thumbnail" src="../images/monet2.jpg" alt="">
	</div>
</div>
