<div class="page-header">
    <h1>Загадка:</h1>
    <h3>&mdash; Вера, А къде се намира прочутата икона на св. Теодор?</h3>
</div>
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-3">
          <figure>
              <img src="../images/boy_explorer_small.jpg" alt="Започваме играта" class="thumbnail" />
          </figure>
    </div>
    <div class="col-xs-8 col-md-8 col-lg-9">
        <blockquote>
            <p>&mdash;  Ще я открием!</p>
            <p><a href="#/views/17" class="btn btn-warning btn-lg">Да започваме!</a></p>
        </blockquote>
    </div>
</div>