<div class="page-header">
    <h3>- Иво, знаеш ли какво включва праисторията?​</h3>
    <h3>- Хайде, да открием заедно, Вера!​​</h3>
</div>
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success" role="information">Праистория - са периодите преди появата на писмеността;</li>
            <li class="list-group-item list-group-item-warning" role="information">А това са: старокаменна епоха; каменна епоха, новокаменна епоха, каменно-медна, бронзова и желязна епохи</li>
        </ul>  
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <a href="#" class="thumbnail">
            <img src="../images/expo_01.jpg" alt="Предмети от различни праисторически епохи">
        </a>
    </div>
</div>