<div class="page-header">
    <h1>Загадка:</h1>
    <h3><small>Къде ли се намира "Именника на българските ханове"?</small></h3>
</div>
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-3">
          <figure>
              <img src="../images/boy_explorer_small.jpg" alt="Започваме играта" class="thumbnail" />
          </figure>
    </div>
    <div class="col-xs-8 col-md-8 col-lg-9">
        <blockquote>
            <p>&mdash; Ще го открием!</p>
            <p><a href="#/views/15" class="btn btn-warning btn-lg">Да започваме!</a></p>
        </blockquote>
    </div>
</div>