<div class="page-header">
    <h3>&mdash;  Изумителни съдове от сребро и злато. <br />Не мога да повярвам какви майстори са били!</h3>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <a href="#" class="thumbnail">
            <img src="../images/trezor_expo01.jpg" alt="Тракийски съкровища">
        </a>
    </div>
    <div class="col-xs-6 col-md-6">
        <a href="#" class="thumbnail">
            <img src="../images/trezor_expo02.jpg" alt="Тракийски съкровища">
        </a>
    </div>
</div>