<div class="page-header">
    <h3>- Ето, малка част от предмети за бита в музея!​</h3>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <a href="#" class="thumbnail">
            <img src="../images/expo_02.jpg" alt="Предмети от различни праисторически епохи">
        </a>
    </div>
    <div class="col-xs-6 col-md-6">
        <a href="#" class="thumbnail">
            <img src="../images/expo_03.jpg" alt="Предмети от различни праисторически епохи">
        </a>
    </div>
</div>